 
 /*  Homepage  */

/* section bloc-introduction */

.section--introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $grey;
    padding: 40px 30px;

        .section__content {
            padding: none;
        .section__text {
            padding-bottom: 10px;
}
}
}


/* titres */

.section__titre {
    margin: 20px; 
}


/* Section Fonctionnement */

.section--functioning {
    padding: 20px 0 40px 0;
}

.tab__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    margin: 20px 20px;
    background-color: rgb(251, 250, 250);
    border-radius: 20px;
    box-shadow: 2px 2px 3px rgb(245, 244, 244);
    position: relative;
    font-size: 18px;

            .number--1 {
                display: flex;
                background-color: $primaire;
                width: 25px;
                height: 25px;
                border-radius: 40px;
                position: absolute;
                left: -8px;
                justify-content: center;
                align-items: center;
                color: #fff;
}
    .tab__icon {
        display: flex;
        width: 50px;
        color: grey;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        padding-left: 20px;
    .tab__text {
        padding-left: 20px;
}
}
}

/* Responsive section--functionning */

  
  @media (min-width: 525px) {
    .section--functioning {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        }

      .tab {
        margin: 20px auto 20px auto;
        width: 60%;
      }
    }



/* Section Restaurants */

.section--restaurants {
    background-color: $grey;
    padding: 20px 0;

    .all-restaurants {
        margin: 0 20px;
}
        .restaurants {
            display: block;
            height: 237px;
            border-radius: 20px;
            margin-bottom: 20px;
            position: relative;
            background-color: #fff;
}
}

.restaurants__images img {
    width: 100%;
    height: 155px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.restaurants__content p {
    color: grey;
    margin: 5px;
}
.restaurants__content h3 {
    margin: 5px;
}

.restaurants__content {
    display: flex;
    color: black;
    padding: 5px 181px 0px 0px;
    
    .restaurants__new {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 16px;
        color: green;
        background-color: $tertiaire;
        width: 25%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
}
}


.restaurants__heart { 
    position: absolute;
    right: 28px;
    bottom: 33px;
    font-size: 25px;
}
  
.restaurants__heart:hover .fa-heart-animated {
    position: absolute;
    font-size: 26px;
    height: 100%;
}


/* Responsive section--restaurants*/

@media (min-width: 525px) {
    .section--restaurants {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        }

      .all-restaurants {
        margin: 20px auto 20px auto;
        width: 80%;
      }
    }



