/* Footer */

.footer {
    background-color: rgb(66, 64, 64);
    padding: 18px 0px 18px 24px;
}
.footer a {
    color: #fff;
}

.footer__title {
    font-size: 25px;
    font-family: "shrikhand";
}

.footer__content {
    margin-top: 15px;
}

.footer__content__subtitle {
    margin-bottom: 8px;
  }

.footer__content .fa-solid {
    margin-right: 10px;
    color: white;
  }

.fa-handshake-angle {
    font-size: 12px;
}